<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{meta_title}}</title>
        <script src="https://kit.fontawesome.com/5e1f5a95a3.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{asset 'css/style.css'}}" type="text/css">
        {{ghost_head}}
    </head>
    <body class="font-sans w-11/12 md:w-7/12 lg:w-6/12 xl:w-5/12 mx-auto">
        <section class="{{body_class}}">
            {{{body}}}
        </section>
    </body>
    {{ghost_foot}}
</html>
